/* .menu__sidebar {
    background-color: rgb(90, 81, 69);
} */

.menu__sidebar__ul {
    /* background-color: rgb(224, 164, 91); */
    list-style-type: none;
    margin: 0;
    padding: .4rem 0;

}

.menu__sidebar__ul .menu-item { // li
    text-decoration: none;
    margin-bottom: 5px;
    margin: .5rem 0;
}

.menu__sidebar__ul .menu-item a { // a
    text-decoration: none;
    padding: .5rem;
    line-height: 1.5rem;
}

.menu__sidebar__ul .menu-item a:hover { // a
    /* font-size: 19px; */
    background-color: lighten($color__background-zonegrid, 30%);
}